:where(.task div) {
  color: #b0aaaa;
  font-size: 10px;
  font-weight: bold;
  height: calc(100vh + -279px);
  margin-left: 26px;
  margin-top: -120px;
}

:where(.label) {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(131, 128, 128);
  display: flex;
  align-items: center;
  margin-top: 30px;
}

:where(.task .card) {
  background-color: #fff;
  height: 90px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  position: relative;
}

:where(.notification) {
  position: relative;
}

:where(.task .alert) {
  background-color: orange;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: 10px;
}

:where(.task .current) {
  display: flex;
  margin-left: 20px;
}

:where(.task svg) {
  padding: 10px;
}

:where(.item) {
  display: flex;
  flex-direction: column;
}

:where(.item h3) {
  max-width: 180px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

:where(.taskType) {
  background-color: #e2e1e1;
  color: #716d6d;
  border-radius: 30px;
  font-weight: 900;
  font-style: italic;
  font-size: 9px;
  margin-top: 10px;
  padding: 5px;
  display: block;
  width: 90px;
  text-align: center;
}

:where(.task small) {
  color: #716d6d;
  font-weight: 400;
  font-size: 8px;
  margin-top: 3px;
}

:where(.delivery) {
  margin-top: 10px;
  color: #716d6d;
  font-size: 9px;
}

:where(.task p) {
  margin-top: 4px;
  font-size: 11px;
}

:where(.task .button) {
  border: 1px solid #969292;
  padding: 10px 60px 10px 15px;
  border-radius: 25px;
  border-top-left-radius: 0;
  font-size: 14px;
  background-color: #fff;
  text-align: left;
  color: #000;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  align-items: center;
  width: 90px;
}

:where(.button small) {
  width: 9px;
  height: 9px;
  background-color: orange;
  border-radius: 50%;
  align-items: center;
  display: inline-flex;
  margin-right: 10px;
  color: rgba(46, 99, 199, 0.929);
}

:where(.chatBox) {
  position: relative;
}

:where(.chat) {
  position: absolute;
  background-color: red;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 24px;
  top: 10px;
}

.task div .card:nth-child(3) {
  position: relative;
  margin-top: 51.5px;
}

.task div .card:nth-child(3)::before {
  position: absolute;
  content: "Next";
  text-transform: uppercase;
  top: -20px;
  left: 0;
  color: rgb(131, 128, 128);
}
