.header {
  position: absolute;
  color: #938c8c;
  font-weight: 600;
  font-size: 15px;
}

.header ul {
  display: flex;
  margin-bottom: 0;
  margin-left: calc(25% + 10px);
  margin-top: -10px;
}

.header ul:last-child {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  position: relative;
  bottom: 10px;
}

.header li {
  list-style-type: none;
  margin-right: 20px;
  padding: 10px 0;
}

.checks li {
  position: relative;
  cursor: pointer;
}

.checks li:first-child {
  color: rgb(70, 69, 69);
}

.checks li:hover:before,
.checks li:first-child:before {
  position: absolute;
  content: '';
  border: 1.5px solid #3f78cc;
  top: 85%;
  left: 0;
  right: 0;
}

.header ul:last-child li {
  margin-right: 0;
  color: #4c4a4a;
  font-weight: 400;
  margin-bottom: 15px;
}

.header hr {
  border-bottom: 0;
  transform: rotate(90deg);
  width: 20px;
  border: 0.3px solid #4c4a4a;
  position: relative;
  top: 5px;
}
