:where(.currentTask div) {
  color: #b0aaaa;
  font-size: 10px;
  font-weight: bold;
  height: calc(100vh + -279px);
  margin-left: 26px;
}

:where(.label) {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(131, 128, 128);
}

:where(.currentTask .card) {
  background-color: #fff;
  height: 90px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
  position: relative;
}

:where(.notification) {
  position: relative;
}

:where(.currentTask .alert) {
  background-color: orange;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: 10px;
}

:where(.currentTask .current) {
  display: flex;
  margin-left: 20px;
}

:where(.currentTask svg) {
  padding: 10px;
}

:where(.item) {
  display: flex;
  flex-direction: column;
}

:where(.item h3) {
  max-width: 180px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

:where(.taskType) {
  background-color: #e2e1e1;
  color: #716d6d;
  width: 80px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2e1e1;
  border-radius: 30px;
  font-weight: 900;
  font-style: italic;
  margin-top: 10px;
  font-size: 9px;
}

:where(.currentTask small) {
  color: #716d6d;
  font-weight: 400;
  font-size: 8px;
  margin-top: 3px;
}

:where(.delivery) {
  margin-top: 10px;
  color: #716d6d;
  font-size: 9px;
}

:where(.currentTask p) {
  margin-top: 4px;
  font-size: 11px;
}

:where(.currentTask .button) {
  border: 1px solid #969292;
  padding: 10px 60px 10px 15px;
  border-radius: 25px;
  border-top-left-radius: 0;
  font-size: 14px;
  background-color: #fff;
  text-align: left;
  color: #000;
  font-weight: 600;
  font-size: 10px;
  display: flex;
  align-items: center;
}

:where(.button small) {
  width: 9px;
  height: 9px;
  background-color: orange;
  border-radius: 50%;
  align-items: center;
  display: inline-flex;
  margin-right: 10px;
}

:where(.chatBox) {
  position: relative;
}

:where(.chat) {
  position: absolute;
  background-color: red;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 24px;
  top: 10px;
}
